*{
    margin: 0;
    padding: 0;
  }
  .card{
    height: 150px;
    width: 150px;
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h5{
    text-align: center;
  }
  .greetings{
    text-align: center;
  }