.form-class{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color:white;
    background-color: white;
    margin-top: 100px;
    align-items: center;
    height:50vh;
    width: 50vw;
    flex-direction: column;
    display: grid;
    place-items: center;
    height: 50vh;
    width: 50%;
    float: right;
  }
  
.log-signup{
    background-color: white;
    border-style: solid;
    border-color: grey;
    border-width: 2px;
    margin: 10px;
    margin-top: 50px;
    padding: 10px;
  
  }
