*{
    margin: 0;
    padding: 0;
}
#menu{ width: 35px;
height: 30px;
margin: 30px 0px 20px 20px;
cursor: pointer;
}
.bar{
    height: 5px;
    width: 100%;
    background-color: black;
    display: block;
    border-radius: 5px;
}
#bar1{
    transform: translateY(-4px);
}
#bar3{
    transform: translateY(4px);
}
.change{
    background-color: red;
    height: 100vh;
    margin: 0;
    position: absolute;
    font-size: 30px;
    top: 0;
    z-index:-1;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav{
    padding: 0;
    margin: 0 20px;
    transition: 1s ease;
    display: none;
}
 a{
    text-decoration: none;
    z-index: 1;
   list-style-type: none;
    color: black;
    outline: none;
}
.nav li a:hover{
    border: 1px solid #fff;
}
ul{
    list-style-type: none;
}
.nav li{
    list-style: none;
   
    text-decoration: none;
    padding: 16px 0px;
}